img{
    margin: 170px 0 30px 60px;
}
.box{
    width: 100px;
    height: 100px;
    display: inline-block;
}
#html{
    background-color: red;
}
#css{
    background-color: yellow;
}
#js{
    background-color: violet;
}
.emphasis{
    color: black;
    font-weight: 400;
}
.red{
    color: red;
}